/**** GLOBAL CLASS ****/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700;);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700;);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700;);
/**** SCREENS ****/
body {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 225px; }
  @media (max-width: 480px) {
    body {
      margin-bottom: 0; } }

html {
  position: relative;
  min-height: 100%; }

h1 {
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 25px; }

h2 {
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 25px; }

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600; }

p {
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin: 0 0 25px; }

a {
  color: #666; }
  a:hover {
    color: #666; }

ul li {
  font-size: 16px;
  list-style: square;
  margin: 0 0 10px;
  text-align: left; }
  ul li p {
    color: #666; }

ol li {
  color: #666;
  font-size: 16px;
  font-weight: 300;
  list-style: decimal;
  margin: 0 0 20px;
  text-align: left; }

.btn {
  background: #668014;
  border-radius: 5px;
  border-color: none;
  border: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: none; }
  .btn:hover {
    background: #859C27;
    color: #fff; }

hr {
  border: 0;
  color: #9E9E9E;
  background-color: #9E9E9E;
  display: inline-block;
  height: 1px;
  width: 100%;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 40px; }
  @media (max-width: 480px) {
    hr {
      width: 90%; } }

/*** NAVBAR ***/
.navbar-header img {
  float: left;
  margin: 4px 5px 0 0; }
@media (max-width: 768px) {
  .navbar-header img {
    margin: 5px 10px 0 0; } }
@media (max-width: 480px) {
  .navbar-header img {
    margin: 10px 0 0 10px;
    width: 15%; } }

.navbar-default {
  background: #414F12;
  border: none;
  opacity: 0.8; }
  .navbar-default .navbar-toggle {
    background-color: none;
    border: none; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }
    .navbar-default .navbar-toggle:hover {
      background: none; }
  .navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 2px; }
    .navbar-default .navbar-brand:hover {
      color: #fff; }
    @media (max-width: 1200px) {
      .navbar-default .navbar-brand {
        font-size: 16px; } }
    @media (max-width: 768px) {
      .navbar-default .navbar-brand {
        padding: 15px; } }
    @media (max-width: 480px) {
      .navbar-default .navbar-brand {
        font-size: 12px; } }
  .navbar-default .navbar-nav {
    float: right; }
    .navbar-default .navbar-nav li {
      margin: 0; }
      .navbar-default .navbar-nav li strong {
        font-weight: 600; }
      .navbar-default .navbar-nav li a {
        border: none;
        box-shadow: none;
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        text-shadow: none; }
      .navbar-default .navbar-nav li:hover {
        background: #859C27;
        color: #fff; }
        .navbar-default .navbar-nav li:hover a {
          color: #fff; }
          .navbar-default .navbar-nav li:hover a:hover {
            background: none;
            color: #fff; }
      .navbar-default .navbar-nav li:nth-child(6) {
        display: none; }
      @media (max-width: 768px) {
        .navbar-default .navbar-nav li:nth-child(5) {
          display: none; } }
      @media (max-width: 480px) {
        .navbar-default .navbar-nav li:nth-child(6) {
          display: block; } }
    @media (max-width: 480px) {
      .navbar-default .navbar-nav {
        float: none; }
        .navbar-default .navbar-nav li {
          text-align: center; } }

/*** MOBILE SUB MENU ****/
.sub-nav-mobile {
  background: #98B82A;
  left: 0;
  right: 0;
  opacity: 0.8;
  padding: 15px 0;
  position: fixed;
  top: 50px;
  z-index: 999; }
  .sub-nav-mobile h2 {
    color: #fff;
    margin: 0;
    letter-spacing: 1px; }
    .sub-nav-mobile h2 a {
      color: #fff; }
  @media (min-width: 1200px) {
    .sub-nav-mobile {
      display: none; } }
  @media (max-width: 992px) {
    .sub-nav-mobile {
      display: block; } }
  @media (max-width: 480px) {
    .sub-nav-mobile {
      padding: 10px 0; }
      .sub-nav-mobile h2 {
        font-size: 14px; } }

.no-op {
  opacity: 1; }

.transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

/*** MASTHEAD ***/
.masthead-cnt {
  background: url("../graphics/honolulu-waikiki-diamond-head.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  min-height: 700px;
  position: relative; }
  .masthead-cnt .masthead-txt {
    position: absolute;
    left: 375px;
    right: 0;
    top: 450px; }
    .masthead-cnt .masthead-txt h4 {
      color: #fff;
      display: block;
      font-family: 'Roboto', sans-serif;
      font-size: 50px;
      font-weight: 500;
      letter-spacing: 2px;
      margin: 0 auto;
      margin-bottom: 15px; }
    .masthead-cnt .masthead-txt h5 {
      color: #fff;
      font-size: 32px;
      font-weight: 400; }
      .masthead-cnt .masthead-txt h5 span {
        color: #fff;
        display: block;
        font-size: 24px;
        margin-top: 8px; }
      .masthead-cnt .masthead-txt h5 a {
        color: #fff; }
    @media (max-width: 768px) {
      .masthead-cnt .masthead-txt {
        left: 350px;
        top: 250px; }
        .masthead-cnt .masthead-txt h4 {
          font-size: 22px; }
          .masthead-cnt .masthead-txt h4 img {
            width: 22px; }
        .masthead-cnt .masthead-txt h5 {
          font-size: 20px; }
          .masthead-cnt .masthead-txt h5 span {
            font-size: 18px; } }
    @media (max-width: 480px) {
      .masthead-cnt .masthead-txt {
        top: 190px;
        left: 0;
        right: 0;
        text-align: center; }
        .masthead-cnt .masthead-txt h4 {
          font-size: 20px;
          margin-bottom: 15px; }
          .masthead-cnt .masthead-txt h4 img {
            width: 16px; }
        .masthead-cnt .masthead-txt h5 {
          font-size: 16px; }
          .masthead-cnt .masthead-txt h5 span {
            font-size: 14px; } }
  @media (max-width: 768px) {
    .masthead-cnt {
      min-height: 400px; } }
  @media (max-width: 480px) {
    .masthead-cnt {
      min-height: 300px; } }

.masthead-sub-cnt {
  background-size: cover;
  background-position: 50%;
  min-height: 300px; }

.faq {
  background: url("../graphics/masthead-sub-1.jpg") no-repeat;
  background-size: cover;
  background-position: 50%; }

.arrival {
  background: url("../graphics/masthead-sub-2.jpg") no-repeat;
  background-size: cover;
  background-position: 50%; }

.rates {
  background: url("../graphics/masthead-sub-5.jpg") no-repeat;
  background-size: cover;
  background-position: 50%; }

.waikiki {
  background: url("../graphics/masthead-waikiki.jpg") no-repeat;
  background-size: cover;
  background-position: 50%; }

.hawaii-kai {
  background: url("../graphics/masthead-hawaii-kai.jpg") no-repeat;
  background-size: cover;
  background-position: 50%; }

.cust-testimonial {
  background: url("../graphics/masthead-sub-4.jpg") no-repeat;
  background-size: cover;
  background-position: 50%; }

@media (max-width: 480px) {
  .faq {
    min-height: 200px; }

  .arrival {
    min-height: 200px; }

  .rates {
    min-height: 200px; }

  .cust-testimonial {
    min-height: 200px; } }
/*** HOMEPAGE INTRO ***/
.intro-cnt {
  padding: 50 0; }
  .intro-cnt ul {
    margin: 0 0 50px;
    padding: 0; }
    .intro-cnt ul li {
      list-style: none;
      margin: 0 0 5px; }
    .intro-cnt ul .br {
      margin: 0 0 30px; }
  .intro-cnt .intro-img {
    margin: 0 0 25px;
    width: 100%; }
  .intro-cnt .contact p {
    font-size: 18px;
    margin: 0 0 15px; }
  .intro-cnt .contact .contact-rates {
    display: none; }
  @media (max-width: 480px) {
    .intro-cnt .contact p {
      font-size: 18px; }
    .intro-cnt .contact p.contact-rates {
      display: block; } }
  @media (max-width: 480px) {
    .intro-cnt {
      text-align: center; }
      .intro-cnt h1 {
        font-size: 24px; }
      .intro-cnt p {
        font-size: 14px; }
      .intro-cnt .intro-txt {
        margin-bottom: 50px; }
      .intro-cnt li {
        font-size: 14px; }
      .intro-cnt .bc {
        max-width: 100%; }
      .intro-cnt iframe {
        padding-bottom: 0; } }

.rates-txt h2 {
  text-align: left; }
.rates-txt ul {
  margin: 0 0 40px; }
@media (max-width: 480px) {
  .rates-txt h2 {
    text-align: center; }
  .rates-txt ul {
    margin: 0 0 40px; }
    .rates-txt ul li {
      text-align: center; } }

/**** CTAs ***/
.cta-cnt {
  background: url("../graphics/cta-bg.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  min-height: 425px;
  padding: 50px 0 25px 0; }
  .cta-cnt .cta-contact p {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 15px; }

.cta-spot img {
  margin: 0 0 25px;
  width: 100%; }
.cta-spot h2 {
  font-size: 18px;
  padding: 0 0 25px; }
.cta-spot h3 {
  text-align: center;
  padding-bottom: 15px;
  margin: 0; }
.cta-spot p {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 25px; }
.cta-spot .btn {
  display: block;
  margin: 0 auto;
  width: 175px; }
@media (max-width: 768px) {
  .cta-spot {
    text-align: center; } }
@media (max-width: 480px) {
  .cta-spot {
    margin-bottom: 50px; } }

/**** FEATURED DESTINATIONS ***/
.featured-cnt {
  background-color: #fff;
  min-height: 375px;
  padding: 50px 0;
  text-align: center; }
  .featured-cnt .cta-spot {
    margin-bottom: 40px; }
  .featured-cnt h2 {
    color: #414F12;
    margin: 0;
    padding-bottom: 40px; }
    .featured-cnt h2 a {
      color: #666; }

/**** POPULAR DESTINATIONS ***/
.destinations-cnt {
  background: url("../graphics/destinations-bg-2.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  min-height: 375px;
  padding: 50px 0; }
  .destinations-cnt h2 {
    color: #414F12;
    margin-left: 15px; }
  .destinations-cnt ul {
    margin: 0;
    padding: 0; }
    .destinations-cnt ul li {
      color: #414F12;
      list-style: none; }
  .destinations-cnt .btn {
    margin-top: 25px; }
  @media (max-width: 480px) {
    .destinations-cnt ul {
      margin-bottom: 25px; }
      .destinations-cnt ul li {
        font-size: 14px; } }

/**** CUSTOMER TESTIMONIALS ****/
.test-cnt {
  margin-bottom: 20px; }

/**** TESTIMONIALS ****/
.testimonial-cnt {
  padding: 50px 0; }
  .testimonial-cnt h2 {
    margin: 0 0 10px 15px; }
  .testimonial-cnt p {
    margin: 0 0 40px 15px; }
  .testimonial-cnt ul {
    margin: 0;
    padding: 0; }
    .testimonial-cnt ul li {
      margin: 0;
      padding: 0; }
  .testimonial-cnt .testimonial img {
    display: block;
    float: left;
    margin-right: 40px;
    padding-bottom: 40px; }
  .testimonial-cnt .testimonial p {
    display: block;
    font-size: 16px;
    font-style: italic;
    line-height: 22px;
    margin: 0 0 15px; }
  @media (max-width: 768px) {
    .testimonial-cnt .testimonial {
      text-align: center; }
      .testimonial-cnt .testimonial img {
        float: none;
        margin-right: 0;
        padding-bottom: 20px;
        margin: 0 auto; } }
  @media (max-width: 480px) {
    .testimonial-cnt .testimonial {
      margin-bottom: 20px;
      text-align: center; }
      .testimonial-cnt .testimonial img {
        float: none;
        margin-right: 0;
        padding-bottom: 20px;
        margin: 0 auto; }
      .testimonial-cnt .testimonial p {
        font-size: 14px; } }
  @media (max-width: 480px) {
    .testimonial-cnt {
      padding: 50px 0 25px 0;
      text-align: center; } }

.footer-cnt {
  background: #859C27;
  padding: 30px 0;
  height: 225px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  .footer-cnt h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 5px; }
  .footer-cnt p {
    color: #fff;
    font-size: 14px; }
  .footer-cnt a {
    color: #fff; }
  .footer-cnt span {
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: 300; }
  .footer-cnt .txt-left {
    text-align: left; }
    .footer-cnt .txt-left ul {
      display: inline-block;
      margin: 0 0 15px;
      padding: 0; }
      .footer-cnt .txt-left ul li {
        float: left;
        list-style: none;
        margin-right: 10px; }
    @media (max-width: 480px) {
      .footer-cnt .txt-left {
        text-align: center; }
        .footer-cnt .txt-left span {
          display: none; } }
  .footer-cnt .txt-right {
    text-align: right; }
    .footer-cnt .txt-right h3 {
      font-size: 18px;
      margin: 0 0 25px; }
    .footer-cnt .txt-right p {
      margin: 0 0 15px; }
    .footer-cnt .txt-right span a {
      margin: 0 0 0 15px; }
    @media (max-width: 480px) {
      .footer-cnt .txt-right {
        text-align: center; }
        .footer-cnt .txt-right span {
          display: block; }
          .footer-cnt .txt-right span a {
            margin: 0 8px; } }
  @media (max-width: 480px) {
    .footer-cnt {
      height: auto;
      position: static; } }

/*# sourceMappingURL=style.css.map */
